<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/logo-padaria.png" />
    <title>Panificadora Vitória - pães para toda a família</title>
    <link rel="stylesheet" type="text/css" href="/estilo.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- BOOTSTRAP ICONS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
     <script src="https://kit.fontawesome.com/b8ce1a1ffc.js" crossorigin="anonymous"></script>
     
     
</head>
<body>  
    <header>
        <nav>
            <div class="wrapper">
              <div class="logo"><a href="/home"><img src="/assets/logo-padaria.png" width="100px" height="70px"></a></div>
              <input type="radio" name="slider" id="menu-btn">
              <input type="radio" name="slider" id="close-btn">
              <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="/home">Home</a></li>
                <li class="cart-link"><a href="/carrinho"><span class="cart-status"><%= carrinho.length %></span><i class="bi bi-cart-fill"></i></a></li>
                <li><a href="/conta"><i class="bi bi-person-circle"></i></a></li>
              </ul>
              <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
            </div>
          </nav>        
    </header>
    <br>
    <br>
    <br>
    <section>
        <div class="cart">
            <h1>Carrinho de Compras</h1>
            <ul>
            <% carrinho.forEach((produto) => { %>
                <li class="cart-item">
                    <img class="cart-item-image" src="<%= produto.image %>"  width="100px" height="100px"/>
                    <div class="cart-item-content">
                        <h3 class="cart-item-title"> <%= produto.name %></h3>        
                        <h3 class="cart-item-price">R$ <%= produto.price %></h3>
                
                        <a href="/remover/<%= produto.id%>"
                          class="button__remove-item"
                        > <i class="bi bi-cart-dash-fill"></i>       
                        </a>
                                
                      </div>
                </li>
            <% }); %>
            </ul>
            <p class="cart-resume">Total: R$ <%= total %></p>
            <div class="cart-flex">
                <a href="/home" class="cart-button">Continuar Comprando</a>
                <a href="/finalizar" class="cart-button-finalizar">Finalizar Compra</a>
            </div>
            
        </div>
        
    </section>   
    <footer>
      <div>
          <div>
              <div class="flex">
                  <div class="logo-footer">
                      <img src="/assets/logo-padaria.png" alt="Logotipo Padaria Vitória" width="90px" height="100px"/>
                  </div>
                  <div class="bemvindo">
                    <p>Bem-vindo ao nosso site!</p>
                    <p>Conheça mais sobre nós ou mande uma mensagem!</p>
                  </div>
                  <div class="btn-social">
                      <a href="#"><button><i class="bi bi-instagram"></i></button></a>
                      <a href="#"><button><i class="bi bi-whatsapp"></i></button></a>
                      <a href="#"><button><i class="bi bi-facebook"></i></button></a>
                  </div>
              </div>
          </div>

          <div class="line-footer borda">
              <p><i class="bi bi-envelope-fill"></i> <a
                      href="mailto:panificadora_vitoria@hotmail.com">panificadora_vitoria@hotmail.com</a>
              </p>
          </div>
      </div>
  </footer>  
   
 
</body>
</html>